<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Age</key>
	<string>secret</string>
	<key>Application</key>
	<array>
		<string>app3</string>
		<string>string this is aliyun app1</string>
		<string>app2</string>
		<string>app1</string>
	</array>
	<key>Person</key>
	<dict>
		<key>Name</key>
		<string>DYN-Name</string>
		<key>sex</key>
		<string>boy</string>
		<key>weight</key>
		<string>65</string>
	</dict>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
